*{
	box-sizing: border-box;
}
body{
	padding: 10px;
     background: linear-gradient(to right, #74ebd5, #acb6e5);
}
.transparent{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  color: rgba(0,0,0, 1);
}
.navbar{
	background-color:rgb(37, 91, 154);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
}

.navbar-default .navbar-header .navbar-brand{
	color: #efda70;
}
.navbar-header .navbar-toggle{
	background-color: #b14e4e;
	outline: none;
	border: none;
	color: white;
}
.navbar-header .navbar-toggle:hover{
	background-color:dodgerblue;
          
}
.navbar-default .navbar-nav li a{
	color: rgba(254, 254, 254);

}
.navbar-default .navbar-nav li a:hover{
	background-color: dodgerblue;
}

.dropdown .dropdown-menu
{
	background-color: rgb(22, 108, 208);
}
.navbar-default .navbar-nav>.open>a:hover {
	background-color: dodgerblue;
}
.navbar-default .navbar-nav .dropdown>a:focus{
	background-color: dodgerblue;

}

 
/*=============================MAIN START==========================*/
.mmain{
	display:grid;
	grid-template-columns:25% auto;
	 grid-column-gap:10px;
}
/*.mcol-3{
	
	border: 1px solid black;
	
}

.mcol-9{
	border: 1px solid black;
	
}*/


/*=====================sidebar style=======================*/
  .group ul{
  	list-style-type: none;
  background-color:rgb(37, 91, 154);
	padding: 15px 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  }
.group ul li{
	font-weight: 500;
	color: white;
	background-color: dodgerblue;
	padding: 15px 10px;
	font-size: 18px;
  cursor: pointer;
}
  .group ul li:nth-child(even){
  background-color: rgba(22, 108, 208, .8);
	

  }

  .group ul li:hover{
	background-color:dodgerblue
   color: black;
  }


/*==========================Gallery==================================*/
.gallery{
  border:1px solid black;
  display: flex;
  /*overflow: hidden;*/
  /*width: 100%*/
  flex-wrap: wrap;

}
.galleryimg{
  display: flex;
  /*justify-content: space-between;*/
   position: relative;
}
.galleryimg .myimg{
  width: 200px;
  height: 200px;
  margin: 5px;
  transition: .5s;
  border-radius: 5px;
}
.galleryimg .myimg:hover{
  border: 2px solid orange;
  transform: scale(1.2);
  padding: 5px;
  z-index: 200;
}


.galleryimg:hover .imgcomment{
	display: block;
   height: 70%;
   opacity: 1;
   background-color: rgba(0,0,0, .4);
}

.imgcomment{
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  color: white;
  font-size: 18px;
  height: 0;
  transition: .5s ease;
  opacity: 0;
  background-color: transparent;
  
}
   /* ==================nav search bar start=========================*/

.inputgrpcontainer{
      display: flex;
      position: relative;
      margin-top:  6px;
      align-items: stretch;
      width: 100%;
      }
.inputform{
      position: relative;
      flex:1 1 auto;
      width: 1%;
      border: 1px solid grey;
      margin-bottom: 0;
      display: block;
      padding: 6px 12px;
      height: 38px;
      border-radius: 4px 0 0 4px;
      border-right-width: 0;
      transition: .6s;
    }

   .srchicon{
      margin-left: -1px;
      display: flex;
      background-color: #1868c5;
      border-radius: 0 4px 4px 0;
      transition: .8s;
     }
  .srchicon i{
      position: relative;
      z-index: 2;
      color: rgb(236, 240, 241, .9);
      padding: 10px 12px;
      display: inline-block;
      vertical-align: middle;
      margin: 0px;
      border-radius: 0 4px 4px 0;
      overflow: visible;
      transition: .8s;
    }
.inputgrpcontainer input[type=text]:focus
                       {
                        border-color: rgb(253, 184, 184);
                        box-shadow: 0 0px 15px rgb(253, 184, 184);
                        outline: none;
                       
                } 
  .inputgrpcontainer input[type=text]:focus + .srchicon{
      background-color:rgb(255, 2, 2));
        box-shadow: 0 0px 15px rgb(253, 184, 184);
      }
   
  .srchicon:hover{
        background-color: dodgerblue;
    }
 .srchicon:hover .srchicon i {
          color: yellow;

         }    
  /* ==================nav search bar end=========================*/

}
/*===============checkbox=========*/
/*.container {
  display: inline-block;
  position: absolute;
  padding-left: 10px;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;

}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius:15px;
}
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}
checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}*/
/*=============================addphoto/addgroup==============*/
.form-group input[type=file]{
  background-color: rgba(154, 37, 37, 1);

}
.form-group input[type=submit]{
  background-color: rgba(154, 37, 37, 1);
  border: none;
  outline: none;
  
}
.form-group input[type=submit]:focus{
  outline: #c13232 ;
}
.form-group input[type=submit]:hover{
  background-color: dodgerblue;

}
/*====================================================*/
.flush-message {
    display: block;
    position: absolute;
    top: 100px;
    right: 20px;
    border: 1px solid gray;
    background-color: skyblue;
    padding: 16px 12px;
    overflow: hidden;
    z-index: 100;
  }